@import './../../../styles.scss';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $heightHeader;
    width: 100%;
    background-color: #ffffff;
    margin-top: 5px;
    margin-bottom: 8px;
    border-radius: 5px;

    .left__header {
        display: flex;
        align-items: center;
        margin-left: 10px;
        width: 50%;
        height: 100%;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;

        .bars__icon {
            display: none;
            cursor: pointer;

            &.close__bars__icon {
                display: block;
            }
        }

        @media only screen and (max-width: 768px) {
            .bars__icon {
                display: block;
            }
        }
    }

    .right__header {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        margin-right: 3cqh;

        .header__avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }
        
        .bell__icon {
            margin-right: 15px;
        }

        @media only screen and (max-width: 768px) {
            .bell__icon {
                margin-right: 10px;
            }
        }
    }
}


