@import "./../../../assets/styles/_variables.scss";

.sidebar {
    height: 100%;
    background-color: $primaryColorText;
    width: $sidebarWidth;
    box-shadow: 60px 60px 60px $defaultBackgroundColor;
    overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
    width: 10px;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #888;
}

.sidebar::-webkit-scrollbar-track {
    background-color: #333;
}