@import './../../../styles.scss';

.footer {
    height: $heightFooter;
    text-align: center;
    margin-bottom: 10px;
}

 @media only screen and (max-width: 768px) {
    .footer {
        display: none;
    }
 }