@import "./../../assets/styles/_variables.scss";

.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.right-content {
    display: flex;
    flex-direction: column;
    width: calc(100% - $sidebarWidth);
    height: 100%;
    margin: 3px 8px;
}

.layout-main {
    height: calc(100vh - $headerHeight - $footerHeight);
    overflow-y: hidden;
}