.container {
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.right-content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 300px);
    height: 100%;
}

.layout-main {
    height: calc(100vh - 150px)
}