
@import "./../../../assets/styles/_variables.scss";

.layout-header{
    height: $headerHeight;
    background-color: $primaryColorText;
    border-radius: 7px;
    box-shadow: 60px 60px 60px $defaultBackgroundColor;
}