<div class="logo__sidebar">
    <img class="logo_system" src="../../../assets/images/icons/logo.svg" alt="logo_system">
    <span class="logo__text">Academy</span>
    <img (click)="onCloseSidebar()" class="arrow__left" src="../../../assets/images/icons/arrow-left-to-line.svg" alt="arrow-left">
</div>

<div class="sidebar__menu">
    <ul class="menu__list">
        <ng-container *ngFor="let item of menu">
            <a [routerLink]="item.routerLink">
                <li class="menu__list__item">
                    <span class="icon__menu" nz-icon nzType="{{item.icon}}" nzTheme="outline"></span>
                    <span class="text__menu">{{item.text}}</span>
                </li>
            </a>
        </ng-container>
    </ul>

    <div class="menu__botton">
        <span class="logout__text">Logout</span>
        <img class="logout__menu" src="../../../assets/images/icons/icon_share.svg" alt="">
    </div>
</div>

