/* You can add global styles to this file, and also import other style files */
@import "./assets/styles/variables";

:root {
    --primary-color: #00a3ff;
    --primary-color-text: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

html, body {
    height: 100vh;
    min-height: 100vh;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    background-color: $defaultBackgroundColor;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 8px 0;
    font-family: 'Roboto', sans-serif;
}

:host {
    font-size: $scale;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0;
}

a,
a:visited,
a:hover {
    color: #1976d2;
    text-decoration: none;
}

@media screen and (max-width: 767px) {

    .card-container>*:not(.circle-link),
    .terminal {
        width: 100%;
    }

    .card:not(.highlight-card) {
        height: 16px;
        margin: 8px 0;
    }

    .card.highlight-card span {
        margin-left: 72px;
    }

    svg#rocket-smoke {
        right: 120px;
        transform: rotate(-5deg);
    }
}

@media screen and (max-width: 575px) {
    svg#rocket-smoke {
        display: none;
        visibility: hidden;
    }
}