/* You can add global styles to this file, and also import other style files */
$leftWith: 250px;
$heightHeader: 80px;
$heightFooter: 20px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}