@import "./../../../assets/styles/_variables.scss";

.layout-footer {
    height: $footerHeight;
    border-radius: 7px;
    background-color: $primaryColorText;
    box-shadow: 60px 60px 60px $defaultBackgroundColor;
    margin-top: 5px;
}