// https: //www.reshot.com/free-svg-icons/item/24-hour-shopping-EUMKFP4WXT/

$scale: 14px;
$borderRadius: 12px;
$transitionDuration: .2s;
$headerHeight: 70px;
$footerHeight: 30px;
$sidebarWidth: 250px;
$defaultBackgroundColor: #f5f5f9;
$primaryColorText: #ffffff;
$logoColorText: #ff9800;